/*The stylesheet that controls the core components of the website.*/

*
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* ===== GLOBAL STYLING ===== */
html{
  font-family: sans-serif;
  font-size: 10px;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.projects, .challenges, .contact{
  color: white;
  font-size: 2rem;

  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;

  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;

  overflow: hidden;

  background-color: #2B7A78;
}







/* ========== Pallette ========== */
.myColors{
    color: #17252A;
    color: #2B7A78;
    color: #3AAFA9;
    color: #DEF2F1;
    color: #FEFFFF;
}
/* ========== ======== ========== */