/*The stylesheet that controls the core components of the website.*/

*
*::before,
*::after, p{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* ===== GLOBAL STYLING ===== */
html{
  font-family: sans-serif;
  font-size: 10px;

  /* Forcing the html to fit the screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.global-grid{
  background-color:rgb(220, 220, 223);
}

.projects, .challenges, .contact{
  color: #FFFFFF;
  font-size: 2rem;

  position: fixed;

  /* *** Trying to fix the height problem on iOS *** */
  height: 15vh;


  border: .4rem solid #F0F0F3;

  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  padding-left: 1rem;

  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;

  border-radius: 1rem;

  overflow: hidden;

  position: relative;

  border-radius: 1rem;

  /*Shadows and Accents Top Left, Bottom Right*/
  box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 1),
  3px 3px 9px 0px rgba(174, 174, 192, 1);
}












/* ========== Pallette ========== */
.myColors{
    color: #17252A;
    color: #2B7A78;
    color: #3AAFA9;
    color: #DEF2F1;
    color: #FEFFFF;
}

/*Current Palette*/
#chosenPalette{

  /* Egg shell primary */
  color: #F0F0F3;
  color: rgb(240, 240, 243);

  /* Accent color (shadow) */
  color: #AEAEC0;
  color: rgb(174, 174, 192);

  /* Pure white for reflection */
  color: #FFFFFF;
  color: rgb(255, 255,255);

  /* Dark grey for shadows and backgrounds. */
  color: #17252A;
  color: rgb(23, 37, 42);

}
/* ========== ======== ========== */