/* This controls the overall layout of the website i.e. the
 global CSS grid and sub containers.*/

 .global-grid{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px 400px 400px;

    background-color: #17252A;
 }

 
