/* This controls the overall layout of the website i.e. the
 global CSS grid and sub containers.*/

 .global-grid{
    /* Force the global-grid to take only screen space */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr 1fr 1fr 10px;

    background-color: #17252A;
 }

 
