/* This controls the overall layout of the website i.e. the
 global CSS grid*/

 .global-grid{
    /* Force the global-grid to take only screen space */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr 1fr 1fr 10px;
 }

 



 

/* ===== Media Queries ===== */

/* *** The default app is built for phones in portrait. *** */




/* ===== Mobile Phones ===== */

/* iPhone X (retina) Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: landscape) { 
   .global-grid{
      /* Force the global-grid to take only screen space */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      height: 80vh;

      display: grid;
      grid-template-columns: 2fr 2.2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "intro projects"
      "intro challenges"
      "intro contact";
   }

   .intro-grid{
      grid-area: intro;
   }

   .projects{
      grid-area: projects;
      height: 90%;
      margin: .5rem;
   }

   .challenges{
      grid-area: challenges;
      height: 90%;
      margin: .5rem;
   }

   .contact{
      grid-area: contact;
      height: 90%;
      margin: .5rem;
   }
}

/* ======================== */



/* ===== Tablets ===== */

/* iPad Mini + iPad (non retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }

/* iPad Mini + iPad (non retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/* iPad (retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
   .global-grid{
      /* Force the global-grid to take only screen space */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 220px 1fr 1fr 1fr;
      grid-template-areas: 
      "intro intro"
      "projects ."
      "challenges ."
      "contact .";
   }

   .intro-grid{
      grid-area: intro;
   }

   /* The height here controls HOW the subStyling handles
   the height. In other words, the global grid automatically
   sets '1fr' to the SMALLEST value of the three cards. */
   .projects{
      grid-area: projects;

      height: 23vh;
   }

   .challenges{
      grid-area: challenges;

      height: 23vh;
   }

   .contact{
      grid-area: contact;

      height: 23vh;
   }
 }

/* iPad (retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
   .global-grid{
      /* Force the global-grid to take only screen space */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 220px 1fr 1fr 1fr;
      grid-template-areas: 
      "intro ."
      "projects ."
      "challenges ."
      "contact .";
   }

   .intro-grid{
      grid-area: intro;
   }

   .projects{
      grid-area: projects;

      height: 18vh;
   }

   .challenges{
      grid-area: challenges;

      height: 18vh;
   }

   .contact{
      grid-area: contact;

      height: 18vh;
   }
}



/* 720p to 1080p display */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1920px) { 
   .global-grid{
      /* Force the global-grid to take only screen space */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin-left: 10rem;
      margin-right: 10rem;

      margin-top: 2rem;
      margin-bottom: 2rem;

      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 220px 1fr 1fr 1fr;
      grid-template-areas: 
      "intro ."
      "projects ."
      "challenges ."
      "contact .";
   }

   .intro-grid{
      grid-area: intro;
   }

   .projects{
      grid-area: projects;

      height: 18vh;
   }

   .challenges{
      grid-area: challenges;

      height: 18vh;
   }

   .contact{
      grid-area: contact;

      height: 18vh;
   }
}

/* ========================= */