/* This stylesheet controls the sub-divisions of the website, 
i.e. the smaller sub-grids or nuanced layout changes for individual
areas.*/

.intro-grid{
    display: grid;
    position: relative;
    /*  Make sure that this corresponds to the global grid row size for this row. */
    max-height: 200px;
    grid-template-columns: .4fr .6fr;
    /*  Make sure that this corresponds to ***1/2*** the global grid row size for this row. */
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "picture name"
    "picture flavorText";

    /* This controls the margins for the physical card. 
    The child elements control their own padding and marigns. */
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    background-color: #DEF2F1;
 }

 .introPicture{
    grid-area: picture;
    background-color: #3AAFA9;
 }

 .name{
    grid-area: name;
 }

 .flavorText{
    grid-area: flavorText;
    background-color: #3AAFA9;
 }





 /* ===== Media Queries ===== */

/* The default app is built for phones in portrait. */



/* ===== Mobile Phones ===== */

/* iPhone X (retina) Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: landscape) { /* Style goes here */}

/* ======================== */



/* ===== Tablets ===== */

/* iPad Mini + iPad (non retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }

/* iPad Mini + iPad (non retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/* iPad (retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
   .intro-grid{
      display: grid;
      position: relative;
      /*  Make sure that this corresponds to the global grid row size for this row. */
      max-height: 200px;
      grid-template-columns: .25fr .75fr;
      /*  Make sure that this corresponds to ***1/2*** the global grid row size for this row. */
      grid-template-rows: 100px 100px;
      grid-template-areas: 
      "picture name"
      "picture flavorText";
  
      /* This controls the margins for the physical card. 
      The child elements control their own padding and marigns. */
      margin-top: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
  
      background-color: #DEF2F1;
   }
  
   .introPicture{
      grid-area: picture;
      background-color: #3AAFA9;
   }
  
   .name{
      grid-area: name;
   }
  
   .flavorText{
      grid-area: flavorText;
      background-color: #3AAFA9;
   }
 }

/* iPad (retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
   .intro-grid{
      display: grid;
      position: relative;
      /*  Make sure that this corresponds to the global grid row size for this row. */
      max-height: 200px;

      /* Best to change picture change here by giving the container
      more room to 'breathe' */
      grid-template-columns: .4fr .6fr;
      /*  Make sure that this corresponds to ***1/2*** the global grid row size for this row. */
      grid-template-rows: 100px 100px;
      grid-template-areas: 
      "picture name"
      "picture flavorText";
  
      /* This controls the margins for the physical card. 
      The child elements control their own padding and marigns. */
      margin-top: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
  
      background-color: #DEF2F1;
   }
  
   .introPicture{
      grid-area: picture;
      background-color: #3AAFA9;
   }
  
   .name{
      grid-area: name;
   }
  
   .flavorText{
      grid-area: flavorText;
      background-color: #3AAFA9;
   }
}

/* ========================= */