/* This stylesheet controls the sub-divisions of the website, 
i.e. the smaller sub-grids or nuanced layout changes for individual
areas.*/

.intro-grid{
    display: grid;
    position: relative;
    /*  Make sure that this corresponds to the global grid row size for this row. */
    max-height: 200px;
    grid-template-columns: .4fr .6fr;
    /*  Make sure that this corresponds to ***1/2*** the global grid row size for this row. */
    grid-template-rows: 100px;
    grid-template-areas: 
    "picture name"
    "picture title";

    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;

    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    gap: .2rem;

    background-color: #DEF2F1;
 }

 .introPicture{
    grid-area: picture;
    background-color: #3AAFA9;
 }

 .introName{
    grid-area: name;
    background-color: #3AAFA9;
 }

 .introTitle{
    grid-area: title;
    background-color: #3AAFA9;
 }