/*The stylesheet that controls the "little extras" of the website.*/

.extraPaddingBottom{
    padding-bottom: 3rem;
}

/* ===== Intro Section Styling ===== */
.intro-grid{
    border-radius: 1rem;

    /*Shadows and Accents Top Left, Bottom Right*/
    box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 1),
    3px 3px 9px 0px rgba(174, 174, 192, 1);
}

.introPicture{
    border-radius: 50%;
    border: 5px solid #AEAEC0;

    position: relative;

    margin-top: 3rem;
    margin-right: 1rem;
    margin-bottom: auto;
    margin-left: 1rem;
}

/* The actual image file */
#headshot{
    display: block;
    justify-content: center;
    max-width: 100%;
    border-radius: 50%;
}

/* My name */
.introName{
    position: absolute;
    bottom: 0;
    font-size: 2.5rem;
}

/* My title */
.introTitle{
    position: absolute;
    bottom: 3rem;
    right: 0;
    font-size: 1.5rem;
}
/* ===== ===== ===== ===== */



/* ===== Cards Section Styling ===== */



.header{
    white-space: nowrap;
}

.projects::after,.challenges::after,.contact::after{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.projects::after{
    opacity: 70%;
    content: "";
    background-image: url("../assets/blueprint_1920x1050.jpg");
    background-size: contain;
    background-position: right;
}
.challenges::after{
    opacity: 80%;
    content: "";
    background-image: url("../assets/software_1920x1277.jpg");
    background-size: contain;
    background-position: right;
}
.contact::after{
    opacity: 80%;
    content: "";
    background-image: url("../assets/searchbar_7000x2458.jpg");
    background-size: cover;
    background-position: right;
}

.title{
    font-size: 2.8rem;
    font-weight: 500;
    font-style: bold;
    display: inline;
}
.subTitle{
    font-size: 2.8rem;
    font-weight: 300;
    font-style: italic;
    display: inline;
}

.projectsModal, .challengesModal, .contactModal{
    color: black;

    border: .4rem solid #F0F0F3;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    border-radius: 1rem;

    overflow: scroll;

    position: relative;

    border-radius: 1rem;

    /*Shadows and Accents Top Left, Bottom Right*/
    box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 1),
    3px 3px 9px 0px rgba(174, 174, 192, 1);
}

.projectsModal{
    background-color: #F0F0F3;
}

.challengesModal{
    background-color: #F0F0F3;
}

.contactModal{
    background-color: #F0F0F3;
}


/* ===== ===== ===== ===== */


