/*The stylesheet that controls the "little extras" of the website.*/
/* This controls things like the sub-grid for the intro section.
It also controls the ::after effects for the cards images and opacity.
It also controls the modals styling. */

.extraPaddingBottom{
    padding-bottom: 3rem;
}

/* ===== Intro Section Styling ===== */
.intro-grid{
    border-radius: 1rem;

    /*Shadows and Accents Top Left, Bottom Right*/
    box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 1),
    3px 3px 9px 0px rgba(174, 174, 192, 1);
}

.introPicture{
    border-radius: 50%;
    border: 5px solid #AEAEC0;

    position: relative;

    margin-top: 3rem;
    margin-right: 1rem;
    margin-bottom: auto;
    margin-left: 1rem;
}

/* The actual image file */
#headshot{
    display: block;
    justify-content: center;
    max-width: 100%;
    border-radius: 50%;
}

/* My name */
#name{
    grid-area: name;
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    font-size: 2.8rem;
    font-family: "myriad-pro",sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* My role */
  #flavorText{
    font-size: 2.0rem;
    position: absolute;
    bottom: 3rem;
    right: 0;
    background-color: #f0f0f3;
  
    border-radius: .3rem;
  
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
    /*Shadows and Accents*/
    box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 1) inset,
    3px 3px 9px 0px rgba(174, 174, 192, 0.4),
  
    -3px -3px 9px 0px rgba(174, 174, 192, 0.25) inset,
    -3px 3px 9px 0px rgba(255, 255, 255, 1);
  }
/* ===== ===== ===== ===== */



/* ===== Cards Section Styling ===== */
.header{
    white-space: nowrap;
}





/*
background-size -> this property decides how the image will fill the parent.
background-position -> this pans the image around; can have multiple arguments.
*/
.projects::after{
    opacity: 50%;
    content: "";
    background-image: url("../assets/blueprint_1920x1050.jpg");
    background-size: cover;
    background-position: right;
}
.challenges::after{
    opacity: 80%;
    content: "";
    background-image: url("../assets/software_1920x1277.jpg");
    /*background-size: cover;*/
    background-position: top left;
}
.contact::after{
    opacity: 80%;
    content: "";
    background-image: url("../assets/searchbar_7000x2458.jpg");
    background-size: cover;
    background-position: right;
}

/* The picture backgrounds */
.projects::after,.challenges::after,.contact::after{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}




.title{
    font-size: 2.8rem;
    font-weight: 500;
    font-style: bold;
    display: inline;
}
.subTitle{
    font-size: 2.8rem;
    font-weight: 300;
    font-style: italic;
    display: inline;
}



.projectsModal, .challengesModal, .contactModal{
    color: black;

    border: .4rem solid #F0F0F3;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    border-radius: 1rem;

    overflow: scroll; 

    position: relative;

    border-radius: 1rem;

    /*Shadows and Accents Top Left, Bottom Right*/
    /* Have these disabled by default now to prevent strange glowing on top of the darker touch layer. */
    box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 0),
    3px 3px 9px 0px rgba(174, 174, 192, 0);
}

.projectsModal{
    background-color: #F0F0F3;
}

.challengesModal{
    background-color: #F0F0F3;
}

.contactModal{
    background-color: #F0F0F3;
}

/* ===== ===== ===== ===== */





/* ===== Media Queries ===== */

/* The default app is built for phones in portrait. */



/* ===== Mobile Phones ===== */

/* iPhone X (retina) Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: landscape) { 
    /* This centers the card vertically in landscape mode on mobile. */
    .intro-grid{
        margin-top: 10%;
    }
    .projectsModal, .challengesModal, .contactModal{
        /*Shadows and Accents Top Left, Bottom Right*/
        box-shadow: -3px -3px 9px 0px rgba(255, 255, 255, 0),
        3px 3px 9px 0px rgba(174, 174, 192, 0);
    }
}

/* ======================== */



/* ===== Tablets ===== */

/* iPad Mini + iPad (non retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }

/* iPad Mini + iPad (non retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/* iPad (retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    .introPicture{
        border-radius: 50%;
        border: 5px solid #AEAEC0;
    
        position: relative;
    
        margin-top: 1.5rem;
        margin-right: 1rem;
        margin-bottom: auto;
        margin-left: 1rem;
    }
    
 }

/* iPad (retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/* ========================= */