/* ========== Modals ========== */

/*To control the scroll behavior underneath for 'html' & 'body'*/
.disableScroll{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

.displayNone{
    display: none;
}


#touchLayer{
    position: fixed;
    background-color: grey;


    /* **** Fix this once modals are implemented!!! **** */
    opacity: 50%;
  



    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  
    z-index: 500;
  
    overflow-y: none;
    overscroll-behavior: none;

    animation: fade;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 75%;
    }
}

#modals{
    justify-content: center;
}

/*Cannot target #id's!!! Can ONLY target CLASSES!!!*/
/* Maybe becuase classes are overarching while ID's on display:none don't exist??? */
.projectsModal, .challengesModal, .contactModal{
    position: absolute;
    height: 95vh;
    z-index: 700;

    top: 0;
    left: 0;

    overflow: scroll;

    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    
    transition: all .5s ease;
    transform: translateX(200%);
}

.projectsModal{
    background-color: red;
}

.challengesModal{
    background-color: green;
}

.contactModal{
    background-color: blue;
}

.showModal{
    transform: translateX(0%);
}