.grow{
    overflow: scroll;
    z-index: 900;
    overscroll-behavior: none;
    
    position: fixed;

    height: 95vh;

    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}