/* ========== Modals ========== */

/*To control the scroll behavior underneath for 'html' & 'body'*/
.disableScroll{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

.displayNone{
    display: none;
}


#touchLayer{
    position: fixed;
    background-color: #17252A;


    /* **** Fix this once modals are implemented!!! **** */
    opacity: 70%;
  



    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
    z-index: 500;
  
    overflow-y: none;
    overscroll-behavior: none;

    animation: fade;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 75%;
    }
}

#modals{
    justify-content: center;
}

/*Cannot target #id's!!! Can ONLY target CLASSES!!!*/
/* Maybe becuase classes are overarching while ID's on display:none don't exist??? */
.projectsModal, .challengesModal, .contactModal{
    position: absolute;
    height: 80vh;
    z-index: 700;

    top: 0;
    left: 0;

    overflow: scroll;

    margin-top: 1rem;
    margin-right: .5rem;
    margin-bottom: 2.5rem;
    margin-left: .5rem;

    
    transition: all .5s ease;
    transform: translateX(200%);
}


/* The z-index here controls modal display on tablet. */
.moveToTop{
    z-index: 1000;
}

.showModal{
    transform: translateX(0%);
}






/* ===== Media Queries ===== */

/* *** The default app is built for phones in portrait. *** */




/* ===== Mobile Phones ===== */

/* iPhone X (retina) Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: landscape) { 
    /* Tweaking the width of the modals. */
    .projectsModal, .challengesModal, .contactModal{
        height: 80vh;
        width: 80%;

        top: 0;
        left: 0;

        overflow: scroll;

        margin-top: 0rem;
        margin-right: .5rem;
        margin-bottom: 2.5rem;
        margin-left: .5rem;

        
        transition: all .5s ease;
        transform: translateX(200%);
    }

    /* Changing this is necessary for adjusting the modals width.*/
    .showModal{
        transform: translateX(18%);
    }

    /* Set the html background to slightly darker than touchLayer so the safe areas on iPhone aren't so jarring. */
    .setToDark{
        background-color: #17252A;
    }
}

/* ======================== */



/* ===== Tablets ===== */

/* iPad Mini + iPad (non retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }

/* iPad Mini + iPad (non retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
    
}

/* iPad (retina) Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* Setting the modal on to the screen be default. */
    .projectsModal, .challengesModal, .contactModal{
        position: absolute;
        height: 74vh;
        width: 60%;

        top: 0;
        left: 0;

        overflow: scroll;

        margin-top: 22rem;
        margin-right: .5rem;
        margin-bottom: 2.5rem;
        margin-left: .5rem;

        
        transition: all .5s ease;
        transform: translateX(54%);
    }
    .projectsModal{
        z-index: 900;
    }
    .challengesModal{
        z-index: 800;
    }
    .contactModal{
        z-index: 700;
    }

    /* The z-index here controls modal display on tablet. I think this needs to be here to prevent overwrite. */
    .moveToTop{
        z-index: 1000;
    }

    /* Don't show the touchLayer on this version of the site. */
    .touchLayer{   
        display:none;   
    }
 }

/* iPad (retina) Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/* ========================= */